<div class="container-projects">
  <div class="categorie-banner">
    <a href="<%=projects_path%>"><i class="fa-solid fa-arrow-left"></i></a>
    <h1 class="categorie">Développement Web</h1>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-3">
    <% @projects.each do|project| %>
      <% if project.genre == "web" %>
        <div class="col">
          <div class="card shadow position-relative card-index"
              data-controller="card"
              data-action="mouseenter->card#readtitle">
              <% if project.name == "AirDreamNDream" %>
                <%= link_to image_tag("https://res.cloudinary.com/dvw6upciw/image/upload/v1674246645/production/Portfolio/Capture_d_e%CC%81cran_le_2023-01-20_a%CC%80_15.30.21_tismnl.png", :class=>"project_image"), project %>
              <%elsif project.name == "Groovy"%>
                <%= link_to image_tag("https://res.cloudinary.com/dvw6upciw/image/upload/v1674247271/production/Portfolio/Capture_d_e%CC%81cran_le_2023-01-20_a%CC%80_15.40.52_fozqu4.png", :class=>"project_image"), project %>
              <% else %>
                <%= link_to image_tag(project.photo_url, :class=>"project_image"), project %>
              <% end %>
              <span class = "title d-none position-absolute top-50 start-50 translate-middle"
                    data-card-target="titles">
                    <%= project.name %></span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
