<h1>index</h1>

<% @projects.each do |project| %>
  <%= project.name %>
  <%= project.genre %>
  <%= project.description%>
  <%= link_to image_tag(project.photo_url)%>
  <%= link_to image_tag(project.photo_url1)%>
  <%= link_to image_tag(project.photo_url2)%>
  <%= link_to image_tag(project.photo_url3)%>
  <%= link_to image_tag(project.photo_url4)%>

<% end %>
