<div class="container-projects">
  <%= link_to "retour", projects_path %>
  <h2><%= @project.name %></h2>
  <p><%= @project.description %></p>
  <%= image_tag(@project.photo_url) %>
  <%= image_tag(@project.photo_url1) %>
  <%= image_tag(@project.photo_url2) %>
  <%= image_tag(@project.photo_url3) %>
  <%= image_tag(@project.photo_url4) %>
</div>
